.flex-space-around,
.flex-center {
	flex-direction: column;
	gap: 1;
}


#menu-icon {
	display: block;
	text-align: center;
	padding: 10px;
}

.hidden {
	display: none;
}


.header {
	padding: 50px 0;
}

.banner marquee {
	font-size: 45px;
}

.banner {
	padding: 20px 0;
}

.features {
	padding-top: 20px;
}


.products {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}


.footer p {
	margin-top: 20px;
}



.product-page {
	padding: 20px;
}

.product-img {
	padding: 60px 20px 10px 20px;
}

.product-img img {
	width: 300px;
	height: auto;
}

.product-details {
	padding: 0 20px;
}

.product-details p {
	padding: 10px 0;
}

.product-details h4 {
	padding: 10px 0;
}

.product-details button {
	width: 90%;
}



.login-area {
	width: 350px;
}



.contact-information {
	padding: 10px;
	text-align: left;
}